In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('../data/manso/complete_ID1.csv')

/tmp/ipykernel_11222/1661183087.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/manso/complete_ID1.csv')

In [9]:
data
data['Behaviour'].isna().mean()

0.9669274739692711

In [15]:
data.drop(columns=['X', 'ID', 'Pressure_hbar'])

,Unnamed: 0,Behaviour,SDate_time,EDate_time,Duration,Acc_x,Acc_y,Acc_z,Mag_x,Mag_y,...,Temp_C,Date,Time_dd_hh_mm_ss.sss,Decimal_secs,VeDBA,Pitch_angle,Pitch_smoothed_angle,Roll_angle,Roll_smoothed_angle,Time_complete
0,1,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.502930,-0.334473,-0.704590,0.113037,0.032471,...,17.40,2022-03-02,9:53:24,0.875,0.227783,-35.816,-34.164,24.932,15.688,9:53:24.875
1,2,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.478516,-0.310059,-0.750977,0.112549,0.030273,...,17.40,2022-03-02,9:53:24,0.900,0.205322,-31.864,-34.160,23.388,18.418,9:53:24.9
2,3,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.527344,-0.297852,-0.812012,0.111816,0.025391,...,17.40,2022-03-02,9:53:24,0.925,0.174805,-31.154,-34.970,20.928,20.120,9:53:24.925
3,4,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.585938,-0.227051,-0.726563,0.112305,0.023926,...,17.40,2022-03-02,9:53:24,0.950,0.110107,-34.626,-35.948,18.648,19.334,9:53:24.95
4,5,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.585938,-0.178223,-0.655762,0.113037,0.022217,...,17.40,2022-03-02,9:53:24,0.975,0.134277,-39.394,-36.802,16.272,16.014,9:53:24.975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499925,2499926,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.009766,-0.034180,-1.026860,0.180420,-0.200684,...,22.92,2022-03-03,17:21:44,0.153,0.033691,-0.274,-0.582,2.958,3.710,17:21:44.153
2499926,2499927,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.009766,-0.058594,-1.004880,0.179932,-0.201416,...,22.92,2022-03-03,17:21:44,0.179,0.019775,-0.554,-0.756,2.630,3.424,17:21:44.179
2499927,2499928,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.034180,-0.046387,-1.004880,0.179199,-0.202148,...,22.92,2022-03-03,17:21:44,0.205,0.038818,-1.258,-0.810,3.004,2.936,17:21:44.205
2499928,2499929,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.021973,-0.046387,-1.004880,0.177979,-0.203613,...,22.92,2022-03-03,17:21:44,0.230,0.031494,-1.604,-0.854,2.660,2.460,17:21:44.23
2499929,2499930,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.009766,-0.021973,-1.026860,0.178223,-0.202881,...,22.91,2022-03-03,17:21:44,0.256,0.044922,-0.896,-0.810,1.940,2.342,17:21:44.256

In [28]:
data

,Unnamed: 0,X,ID,Behaviour,SDate_time,EDate_time,Duration,Acc_x,Acc_y,Acc_z,...,Pressure_hbar,Date,Time_dd_hh_mm_ss.sss,Decimal_secs,VeDBA,Pitch_angle,Pitch_smoothed_angle,Roll_angle,Roll_smoothed_angle,Time_complete
0,1,NaN,NaN,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.502930,-0.334473,-0.704590,...,916.789,2022-03-02,9:53:24,0.875,0.227783,-35.816,-34.164,24.932,15.688,9:53:24.875
1,2,NaN,NaN,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.478516,-0.310059,-0.750977,...,916.795,2022-03-02,9:53:24,0.900,0.205322,-31.864,-34.160,23.388,18.418,9:53:24.9
2,3,NaN,NaN,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.527344,-0.297852,-0.812012,...,916.801,2022-03-02,9:53:24,0.925,0.174805,-31.154,-34.970,20.928,20.120,9:53:24.925
3,4,NaN,NaN,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.585938,-0.227051,-0.726563,...,916.807,2022-03-02,9:53:24,0.950,0.110107,-34.626,-35.948,18.648,19.334,9:53:24.95
4,5,NaN,NaN,NaN,2022-03-02 09:53:24,2022-03-02 09:53:24,NaN,0.585938,-0.178223,-0.655762,...,916.813,2022-03-02,9:53:24,0.975,0.134277,-39.394,-36.802,16.272,16.014,9:53:24.975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2499925,2499926,NaN,NaN,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.009766,-0.034180,-1.026860,...,953.097,2022-03-03,17:21:44,0.153,0.033691,-0.274,-0.582,2.958,3.710,17:21:44.153
2499926,2499927,NaN,NaN,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.009766,-0.058594,-1.004880,...,953.094,2022-03-03,17:21:44,0.179,0.019775,-0.554,-0.756,2.630,3.424,17:21:44.179
2499927,2499928,NaN,NaN,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.034180,-0.046387,-1.004880,...,953.091,2022-03-03,17:21:44,0.205,0.038818,-1.258,-0.810,3.004,2.936,17:21:44.205
2499928,2499929,NaN,NaN,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.021973,-0.046387,-1.004880,...,953.088,2022-03-03,17:21:44,0.230,0.031494,-1.604,-0.854,2.660,2.460,17:21:44.23
2499929,2499930,NaN,NaN,NaN,2022-03-03 17:21:44,2022-03-03 17:21:44,NaN,0.009766,-0.021973,-1.026860,...,953.088,2022-03-03,17:21:44,0.256,0.044922,-0.896,-0.810,1.940,2.342,17:21:44.256

In [27]:
print(f"Porcentaje de NAs en ID: \n{data['ID'].isna().mean() * 100:.2f}% \n"), print(f"Porcentaje de NAs en Behaviour: \n {data['Behaviour'].isna().mean() * 100:.2f}% \n")

Porcentaje de NAs en ID:
96.69%

Porcentaje de NAs en Behaviour:
 96.69%

(None, None)

In [51]:
print(f"Minutos anotados: {data['Behaviour'].notna().sum() / 40 / 60}")

Minutos anotados: 34.44958333333333

In [36]:
data['SDate_time'] = pd.to_datetime(data['SDate_time'])
data['EDate_time'] = pd.to_datetime(data['EDate_time'])

data['year'] = data['SDate_time'].dt.year
data['month'] = data['SDate_time'].dt.month
data['day'] = data['SDate_time'].dt.day
data['date'] = data['SDate_time'].dt.date

In [38]:
data['date'].unique(), data['day'].unique()

(array([datetime.date(2022, 3, 2), datetime.date(2022, 3, 3)], dtype=object),
 array([2, 3], dtype=int32))